html
  head
  body
    form(method="POST",action="/registro")
      input(name="name",type="text")
      input(name="lastname",type="text")
      input(name="email",type="text")
      input(name="password",type="text")
      input(type="submit",value="Registro")
